<div class="container">
    <h3>What type of feedback did you want so submit?</h3>
    <hr>
    <div class="row">

        <div class="col-md-4" *ngFor="let type of types">

            <br>
            <div class="selection" [class.selected]="type.selected" (click)="onTypeClick(type)">

                <div class="selection-header">
                    <div class="selection-icon">
                        <span class="icon icon-{{type.icon}}"></span>
                    </div>
                    <div class="selection-text">{{type.title}}</div>
                </div>

                <div class="selection-description">

                    <div class="selection-description-line"
                         *ngFor="let item of type.descriptionItems">{{item}}</div>
                    <ul class="selection-description-list"
                        *ngIf="type.descriptionListItems?.length">

                        <li *ngFor="let item of type.descriptionListItems">{{item}}</li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="row">
                <div class="col-8">
                    <h3>The {{type.title}}'s Description</h3>
                    <hr>

                </div>
                <div class="col-4 text-right">
                    <small [class.text-danger]="feedback.length > 500">{{feedback.length}}/500</small>
                </div>
            </div>


            <textarea class="form-control feedback"
                      (keyup)="onFeedbackUpdate($event)"
                      (change)="onFeedbackUpdate($event)"></textarea>

        </div>

        <div class="col-md-6">
<br>
            <h3>Did you have an image to attach?</h3>
            <hr>

            <div class="image-box">

                <div class="image-button">
                    <button class="btn btn-warning" role="button">
                        <span class="icon icon-plus"></span>
                    </button>
                </div>

            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-12">

            <button class="btn btn-block submit-button" role="button">Submit</button>

        </div>
    </div>



</div>