<div class="container">
    <h3>What type of feedback did you want so submit?</h3>
    <div class="row">

        <div class="col-md-4">

            <div class="selection">

                <div class="selection-header">

                    <div class="selection-icon">
                        <span class="icon icon-bug"></span>
                    </div>
                    <div class="selection-text">Bug</div>

                </div>


                <div class="selection-description">

                    <div class="selection-description-line">Select this option if you found an issue when using the website or desktop application.</div>
                    <div class="selection-description-line">Please be sure to provide all details that will help me address this issue, for example:</div>

                    <ul class="selection-description-list">
                        <li>Operating System</li>
                        <li>Screen Resolution</li>
                        <li>Steps to Reproduce</li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="selection">

                <div class="selection-header">

                    <div class="selection-icon">
                        <span class="icon icon-magnifying-glass"></span>
                    </div>
                    <div class="selection-text">Suggestion</div>

                </div>


                <div class="selection-description">

                    <div class="selection-description-line">I'm always looking for ways to make Upspark better or even better approaches to displaying documentation.</div>
                    <div class="selection-description-line">Be detailed as possible and don't hold back!</div>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="selection">

                <div class="selection-header">

                    <div class="selection-icon">
                        <span class="icon icon-trophy"></span>
                    </div>
                    <div class="selection-text">Kuddos</div>

                </div>


                <div class="selection-description">

                    <div class="selection-description-line">Drop some love with this selection. Let me know your favorite feature so I know what's making you come back for more.</div>
                    <div class="selection-description-line">Expect a hearty thank you in return</div>

                </div>

            </div>

        </div>

    </div>
</div>