.selection {
  border-left: 1px dotted #dadada;
  padding: 20px 20px 0 20px;
  color: #969696;

  &:hover,
  &.selected {
    border-color: #0b73c2;
    cursor: pointer;
    color: black;

    .selection-icon {
      color: #0b73c2;
    }
  }

}

.thinner {
  margin-top: 10px;
}

.section {
  margin-top: 40px;
}
.selection-description-line {
  padding: 10px 0;
}
.selection-description-list {
  margin-bottom: 0px;
}

.selection-header {
  display: flex;
  align-items: center;
}

.selection-icon {
  font-size: 1.5em;
}
.selection-text {
  margin-left: 10px;
  font-size: 1.5em;
  border-radius: 0;
}

.feedback {
  resize: none;
  height: 200px;
}

.submit-button {
  text-transform: uppercase;
  margin: 30px 0;
  height: 50px;
  font-size: 110%;
  border-radius: 0;
}
.image-box {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  height: 200px;
  background: none no-repeat center;
  background-size: cover;
  &.smaller {
    height: 150px;
  }
}
.image-button .btn {
  border-radius: 0;
  height: 50px;
  width: 50px;
}
.image-selector {
  display: none;
}

.progress {
  margin: 30px 0;
}
.progress-bar {
  height: 50px;
  cursor: wait;
}

.email {
  height: 50px;
  border-radius: 0;
  margin-bottom: 10px;
}