.selection {
  border-left: 5px solid #dadada;
  padding: 20px 20px 0 20px;
  color: #969696;

  &:hover,
  &.selected {
    border-color: #0b73c2;
    cursor: pointer;
    color: black;
  }

}
.selection-description-line {
  padding: 10px 0;
}
.selection-description-list {
  margin-bottom: 0px;
}

.selection-header {
  display: flex;
  align-items: center;
}

.selection-icon {
  font-size: 1.5em;
  color: #0b73c2;
}
.selection-text {
  margin-left: 10px;
  font-size: 1.5em;
}

.feedback {
  resize: none;
  height: 200px;
}

.submit-button {
  text-transform: uppercase;
  margin: 30px 0;
  height: 50px;
  font-size: 110%;
  border-radius: 0;
}
.image-box {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  height: 200px;
  background: none no-repeat center;
  background-size: cover;

}
.image-button .btn {
  border-radius: 0;
  height: 50px;
  width: 50px;
}
.image-selector {
  display: none;
}