<div class="block app-block-intro" [class.hide-padding-bottom]="!running">
    <div class="container text-xs-center">
        <h1 class="block-title mb-0 text-uppercase app-myphone-brand">Upspark</h1>
        <p class="lead mb-5 pb-5">The programmable desktop command runner</p>

        <div class="row">

            <div class="col-md-4" *ngIf="demo.script" [@expand]>
                <up-code [contents]="platform"></up-code>
            </div>

            <div class="animated-width"
                 [class.col-md-8]="demo.script"
                 [class.col-12]="!demo.script">

                <up-runner *ngIf="running"
                           [@slide]
                           (@slide.done)="initRunner()"
                           [command]="demo.runner.command"
                           [log]="demo.runner.log"
                           [args]="demo.runner.args"
                           [output]="demo.runner.output">
                </up-runner>

            </div>

        </div>

    </div>
</div>

<div class="block block-bordered-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="featured-list">
                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-share"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Import Libraries</strong></p>
                        <p class="featured-list-icon-text">
                            The platform belongs to you. Use <code>npm install package-name</code> on Upspark's platform directory to import node libraries. <span class="small">psst, yarn works too</span>
                        </p>
                    </li>

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-palette"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Hack and Theme</strong></p>
                        <p class="featured-list-icon-text">
                            There's more to Upspark then just it's logic. You can use CSS to change how you want the runner to look and feel.
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="featured-list">

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-code"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>ES2017 Compliant</strong></p>
                        <p class="featured-list-icon-text">
                            Out the box, use bleeding edge ECMAScript. This includes rest parameters, import statements, fat arrow functions and more.
                        </p>
                    </li>

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-lock"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Sensitive Logic</strong></p>
                        <p class="featured-list-icon-text">
                            Need to use passwords or api keys in script logic? Upspark comes with an easy to use AES-256 bit data store.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>