<div class="container stub">

    <div class="row text-center stub-content">
        <div class="col-12">
            <h3><span class="icon icon-emoji-sad text-danger"></span>&nbsp;&nbsp;Something went wrong !</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <hr>
            <p>The server rejected the feedback submission.</p>
            <p>While we sort this out, you can alternatively send feedback directly to <a href="mailto:feedback@upspark.io">feedback@upspark.io</a> instead.</p>
            <hr>
            <button class="btn btn-primary btn-block" role="button" routerLink="/feedback">Back</button>
        </div>
    </div>


</div>