<div class="container pt-4">
    <nav class="navbar navbar-light navbar-toggleable-sm navbar-static-top text-uppercase app-navbar mb-5">
        <button
                class="navbar-toggler navbar-toggler-right hidden-md-up"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand mr-auto" href="../">
            <span>{{title}}</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="..//index.html">StartUp</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../minimal/index.html">Minimal</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="../bold/index.html">Bold</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="../docs/index.html">Docs</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>