$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: #d54aaf;
$link-hover-color: saturate(#d54aaf, 20%);
$link-visited-color: purple;

$base-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

$fixed-font-family: 'Lato', sans-serif;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Baloo Bhaina', cursive;
$heading-font-weight: 700;

