@import "~vendor/bootstrap/styles/toolkit";
@import "~vendor/bootstrap/styles/theme";

.app-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-image: url(~image/icon_64.png);
}