:host {
  display: flex;
  flex-direction: row;
  &.reverse {
    flex-direction: row-reverse;
  }
  &.vertical {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}