<div class="container">
    <h3><small>1.0.0<span class="text-danger"> no further releases planned</span></small></h3>

    <hr>

    <div class="row">

        <div class="col-md-4">
            <h4>Windows</h4>
            <ul>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark-setup-ia32.exe">32 bit Installer</a></li>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark-setup-x64.exe">64 bit Installer</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Mac</h4>
            <ul>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark-darwin.zip">ZIP Package</a></li>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark-darwin.zip">DMG file</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Linux (debian)</h4>
            <ul>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark_i386.deb">32 bit</a></li>
                <li><a href="https://github.com/upspark-platform/legacy-www/releases/download/v1.0.0/upspark_amd64.deb">64 bit</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <p>Broken or just not working?</p>
    <ul>
        <li>Submit a <a role="button" routerLink="/feedback">bug report</a> with hardware and operating system details so we can take a look.</li>
    </ul>
    <p>No matching download? </p>
    <ul>
        <li>Send us a <a role="button" routerLink="/feedback">suggestion</a> with architecture specifications so we can try and configure a package for you!</li>
    </ul>
    <br>
</div>