<div class="container">
    <h3><small>1.0.0<span class="text-danger">--beta</span></small></h3>

    <hr>

    <p>Depending on the platform, the installer might be a little rough around the edges.</p><p>Please send me <a role="button" routerLink="/feedback">feedback</a> if the installer is not working or if your operating configuration is not covered by a package below.</p>

    <hr>
    <div class="row">

        <div class="col-md-4">
            <h4>Windows</h4>
            <ul>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark-x86.exe">32 bit Installer</a></li>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark-x64.exe">64 bit Installer</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>OSX</h4>
            <ul>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark-darwin-x64.zip">ZIP Package</a></li>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark.dmg">DMG Image</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Linux</h4>
            <ul>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark_1.0.0_i386.deb">32 bit DEB</a></li>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark-1.0.0.i386.rpm">32 bit RPM</a></li>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark_1.0.0_amd64.deb">64 bit DEB</a></li>
                <li><a href="https://s3.amazonaws.com/upspark/Upspark-1.0.0.x86_64.rpm">64 bit RPM</a></li>
            </ul>
        </div>
    </div>

    <br>

</div>