<div class="block app-block-footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <h6 class="text-uppercase">About</h6>
                <p>Upspark is a simple tool, targeted at the productive developer.</p>
                <p>If it works for you, spread the love. If not, no hard feelings but please <a role="button" routerLink="/feedback">let me know</a> what I can do better.</p>
                <p>Major credit is due to the folks behind
                    <a href="https://electron.atom.io/">Electron</a>,
                    <a href="https://nodejs.org/">Node.js</a> and
                    <a href="https://angular.io/">Angular</a>,
                    the core building blocks for this sweet tool.
                </p>
                <br>
            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-2 mb-4">
                <ul class="list-unstyled list-spaced">
                    <li><h6 class="text-uppercase">Links</h6></li>
                    <li routerLink="/downloads" role="button">Download</li>
                    <li routerLink="/tutorial" role="button">Getting Started</li>
                    <li routerLink="/feedback" role="button">Feedback</li>
                </ul>
            </div>

            <div class="col-sm-3 mb-4">
                <div class="text-right">
                    Free with  <span class="text-danger icon icon-heart-outlined"></span> by <a href="https://dave.blue">dave</a>.
                </div>
            </div>


        </div>
    </div>
</div>

