<div class="container">

    <div class="row text-center">
        <div class="col-12">
            <br>
            <br>
            <h3><span class="icon icon-emoji-happy text-success"></span>&nbsp;&nbsp;Thank you !</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <hr>
            <p>You should receive a confirmation email shortly.</p>
            <p>Feel free to reply to that email with any extra details.</p>
            <hr>
        </div>
    </div>


</div>